name: Release

on:
  push:
    branches:
      - main
    tags:
      - "v*"

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          PAYPAL_API_URL: ${{ secrets.PAYPAL_API_URL }}
          PAYPAL_APP_SECRET: ${{ secrets.PAYPAL_APP_SECRET }}
          PAYPAL_CLIENT_ID: ${{ secrets.PAYPAL_CLIENT_ID}}
          EMAIL_SERVER: ${{ secrets.EMAIL_SERVER}}
          EMAIL_FROM: ${{ secrets.EMAIL_FROM}}
          EMAIL_PWD: ${{ secrets.EMAIL_PWD}}
          REDIS_URL: ${{ secrets.REDIS_URL }}
          REDIS_TOKEN: ${{ secrets.REDIS_TOKEN }}

        run: pnpm run release
